<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Connexion</h1>
    <form method="post" action="{{ url_for('login') }}">
        <p>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password">
        </p>
        <button type="submit">Connexion</button>
    </form>
    <p>Pas encore inscrit ? <a href="{{ url_for('register') }}">Créer un compte</a></p>
</body>
</html>
